RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#RewriteRule ^(.*)([^/])$        /$1/ [L,R=301]

RewriteRule ^/profile/$ /profile

